%h3= server.name
%div= server.host + ":" + server.port
%div= server.description
-# %div= server.box.containers
%table
  %tr
    %th Tag
    %th Container Status
    %th Link
    %th Control
  - server.box.app_containers(tags).each do |tag|
    %tr
      %td= tag[:image_tag]
      %td
        - tag[:containers].each do |container| 
          = container.short_id
          = container.name
          <br/>
          %div{style: "border: 1px solid gray"}
            - container.urls.each do |url|
              = link_to url[0], url[0]
              (Original_port: 
              = url[1]
              )
              <br/>
          <br/>
      %td 
        = "http://" unless tag[:containers].empty?
      %td
        = run_container_link(server, app, tag[:image_tag]) if tag[:containers].empty?
        - tag[:containers].each do |container|
          = stop_container_link(server, container.short_id)
          = info_container_link(server, container.short_id)
          = logs_container_link(server, container.short_id)
