%h2
  Create Application
  %span.heading-suffix
    = link_to "Back to applicaitons", applications_url
    %i.fa.fa-undo

%div.form.application_form.rounded_box
  = simple_form_for(@app) do |f|
    = f.input :name, label: "Application Name", placeholder: "Parallal Box"
    = f.input :url, label: "Application URL", placeholder: "http://parallel-box.nacyot.com"
    = f.input :repository_name, label: "Repository Name", placeholder: "nacyot/parallel-box"
    = f.input :repository_url, label: "Repository URL", placeholder: "http://github.com/nacyot/parallel-box"
    = f.input :continuous_integration_url, label: "Continuous Integration URL", placeholder: "http://jenkins.nacyot.com/parallel-box"
    Select Docker Registry
    <br/>
    = f.submit

    
