%h1
  %i.fa.fa-square-o  
  = @app.name
  %span.heading-suffix
    = link_to "Edit", edit_application_url(@app)

= render partial: "applications/application", locals: {app: @app, non_title: true}

%h2 Docker Registry

.rounded_box
  %div= @app.docker_registry.name
  %div= @app.docker_registry.host + ":" + @app.docker_registry.port

%h2 All Image Tags from Docker Registry

.rounded_box
  %table
    %tr
      %th Image Tag
      %th Image Hash
    - @tags.each do |tag|
      %tr
        %td= tag[0]
        %td= tag[1]
      

%h2 
  Stage Servers
  %span.heading-suffix
    = link_to "Add Stage Server", new_docker_server_url(@app, type: "stage")

.rounded_box
  - @stage.each do |server|
    = render partial: "applications/stage_server", locals: {server: server, tags: @tags, app: @app}

%h2 
  Deploy Server
  %span.heading-suffix
    = link_to "Add Deploy Server", new_docker_server_url(@app, type: "deploy")

.rounded_box
  - @deploy.each do |server|
    -#= render partial: "applications/deplay_server", locals: {server: server, tags: @tags, app: @app}
    %h3= server.name
    %div= server.host + ":" + server.port
    %div= server.description
