!!!
%html
  %head
    %title Parallel Box - Docker based Deployment System
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "layouts/partial/sidebar"
    .container-fluid
      .row
        .col-lg-1.col-md-1
        .col-lg-10.col-md-10
          = yield
        .col-lg-1.col-md-1
          
